html {
    height:100%;
}
body{
    height:100%;
    font-family:Microsoft YaHei, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    font-size:14px; 
    line-height:1.5;
    color: #666;
    width: 100%;
    margin: 0 auto;
    /* background: #edf1f5; */
    position: absolute;
    width: 100%;
    min-height: 100%;
}
body, button, input, select, textarea, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
