<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- <base href="/hip/BigData/views/"> -->
	<title>查询</title>
    <link rel="stylesheet" href="../lib/bootstrap_3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../lib/font-awesome_4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../lib/bootstrap_3.3.5/css/bootstrap-select.css"/>
    <link ref="stylesheet" href="../lib/laydate/theme/laydate.css"/>
    <link rel="stylesheet" href="../style/base.css" />
    <link rel="stylesheet" href="../style/style.css" />
    
</head>

<body>
    <nav class=" navbar  emr-navbar">

        <div class="container-fluid">

            <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
                <div class="logo-container">
                    <img src="../img/logotransparent.png" alt="">
                    <span class="logo-desc">
                        <p>四川大学华西第二医院</p>
                        <p>IMedical数据管理平台</p>
                    </span>
                </div>
                <ul class="nav navbar-nav navbar-right emr-nav-navbar visible-lg-block visible-md-block"
                    id="emr_toolMenuBtn">
                    <!--li id=""><a href="#"><i class="fa function-icon fa-cog" title="用户菜单配置" aria-hidden="true"></i></a>
                    </li>
                    <li id=""><a href="#"><i class="fa function-icon fa-search" title="患者搜索" aria-hidden="true"></i></a>
                    </li-->
                    <li>
                        <div class="admin-info">
                            <p class="doc-info">
                                <div class="dropdown">
                                    <button id="" class="btn admin-info-btn" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        赵君-四川大学华西二院锦江院区
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" id="indexEditList" aria-labelledby="dLabel">
                                        <li>退出</li>
                                        <li>编辑条件</li>
                                        <li>返回主页</li>
                                    </ul>
                                </div>
                            </p>
                            <!-- <p class="doc-dept">儿科门诊[分院]</p> -->
                        </div>
                    </li>
                    <div style="clear:both"></div>
                </ul>
                <div style="clear:both"></div>
            </div>
            
        </div>
    </nav>
    <main class="main">
        

    </main>
    <footer class="hip-footer ">
        <p>HIP2.0</p>
        <p>版权所有 东华软件股份公司。保留所有权利。</p>
    </footer>
</body>
<script src="../lib/jquery/jquery_1.10/jquery-1.10.1.min.js"></script>
<script src="../lib/jsplumb/jsplumb.js"></script>
<script src="../lib/bootstrap_3.3.5/js/bootstrap.min.js"></script>
<script src="../lib/bootstrap_3.3.5/js/bootstrap-select.js"></script>
<script src="../lib/bootstrap_3.3.5/js/bootstrap-select-zh_CN.min.js"></script>
<script src="../lib/laydate/laydate.js"></script>
<script src="../script/unit.js"></script>
<script src="../script/index.js"></script>

</html>