<div class="search-container">
    <h2>临床数据中心</h2>
    <div class="input-group">
        <input type="text" class="form-control" style="padding-right: 75px;" placeholder="请输入搜索关键词（如：发热/糖尿病/肺炎）">
        <span class="input-group-btn">
            <button class="btn btn-default"  type="button" id="normalSearch">搜索</button>
        </span>
        <div class=" input-group-btn advanced-search">
            <a id="advancedSearch">高级搜索</a>
        </div>
    </div>
    <p style="margin-top:20px;text-align:center;color:#666;">平台现有<strong style="font-size:18px;color:#409eff;">685,235</strong>位患者,<strong style="font-size:18px;color:#409eff;">27,733,275</strong>份病历信息提供检索</p>
</div>

<script src="../script/search.js"></script>